* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.orange {
  color: orange;
}

.box {
  padding: 0 10px;
  border: 1px solid black;
  width: 100px;
}
